<html>

<body>
    <h1>Official Singles Chart Top 10</h1>
    <p>What's Your Favorite No. 1 Single From This Week So Far? Vote!</p>
    <form method="post">
        <select name="singles">
            <option value="BLINDING LIGHTS">BLINDING LIGHTS</option>
            <option value="ROSES">ROSES</option>
            <option value="TOOSIE SLIDE">TOOSIE SLIDE</option>
            <option value="PHYSICAL">PHYSICAL</option>
            <option value="DEATH BED">DEATH BED</option>
            <option value="DON'T START NOW">DON'T START NOW</option>
            <option value="SAY SO">SAY SO</option>
            <option value="LONELY">LONELY</option>
            <option value="BLUEBERRY FAYGO">BLUEBERRY FAYGO</option>
            <option value="BREAK MY HEART">BREAK MY HEART</option>
            <option value="ROVER">ROVER</option>
            <option value="RAIN">RAIN</option>
            <option value="BOYFRIEND">BOYFRIEND</option>
            <option value="FALLING">FALLING</option>
            <option value="INTENTIONS">INTENTIONS</option>
            <option value="SAVAGE">SAVAGE</option>
            <option value="DANCE MONKEY">DANCE MONKEY</option>
            <option value="FLOWERS">FLOWERS</option>
            <option value="IF THE WORLD WAS ENDING">
                IF THE WORLD WAS ENDING
            </option>
            <option value="ADORE YOU">ADORE YOU</option>
        </select>
        <input type="submit" />
    </form>
</body>

</html>
